.attraction-detail {
  width: 100%;
  padding: 2rem 3rem;
}

.detail-header {
  text-align: left;
  margin-bottom: 1.3rem;
}
.detail-header h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.location-badge {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #e0f0ff;
  color: #0077cc;
  padding: 0.4rem 1rem;
  border-radius: 999px;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.detail-layout {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}

.detail-image {
  flex: 1;
  min-width: 500px;
}

.detail-image img {
  width: 600px;
  height: 700px;
  border-radius: 0.5rem;
  object-fit: cover;
}

.detail-info {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.rating-input {
  background: none;
  padding: 0;
  box-shadow: none;
}

.rating-input h3 {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}

.stars-input {
  display: flex;
  gap: 0.3rem;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.star {
  cursor: pointer;
  transition: color 0.2s ease;
}

.star.full {
  color: #ffc107;
}

.star.empty {
  color: #d1d1d1;
}

.submit-rating-button {
  background-color: #0077cc;
  color: white;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-rating-button:hover {
  background-color: #005fa3;
}

.previous-rating h3,
.rated-stars {
  display: flex;
  gap: 0.3rem;
  font-size: 1.9rem;
}

.rated {
  color: #ffc107;
}

.rated-empty {
  color: #d1d1d1;
}

.rating-message {
  margin-top: 0.8rem;
  color: green;
  font-weight: 500;
}

.detail-content {
  margin-top: 2rem;
}

.full-description {
  font-size: 1.3rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.detail-meta {
  margin-top: 1rem;
  font-style: italic;
  color: #666;
}

.category {
  background-color: #f0f0f0;
  padding: 0.3rem 0.7rem;
  border-radius: 999px;
  align-items: center;
  text-align: center;
}

.recommendations-section {
  margin-top: 3rem;
}
