.App {
  scroll-behavior: smooth;
}

section {
  min-height: 100vh; /* Each section takes at least the full height of the viewport */
  /* Optional: Add padding for spacing */
  /* Ensure padding is included in the height calculation */
}
body {
  margin: 0;
  padding: 0;
}
