/* Full-page background */
.auth-container {
  height: 100vh;
  background-color: #ddb788;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card layout */
.auth-card {
  display: flex;
  width: 800px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 5px;
  border: 5px solid white;
}

/* Left image section */
.image-section {
  width: 50%;
  position: relative;
}

.image-section img {
  width: 90%;
  height: 100%;
  object-fit: cover;
}

.image-section p {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  border-radius: 5px;
}

/* Right form section */
.form-section {
  width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 15px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.name-fields {
  display: flex;
  gap: 10px;
}

.name-fields input {
  width: 50%;
}

button {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #333;
}

.toggle-link {
  color: rgb(26, 26, 157);
  cursor: pointer;
  text-decoration: underline;
}
